*{
    color: #430064
}
.table-detail{
    width: 44vh;
    display: grid;
    margin-top: 4.5vh;
  }
  .table-detail>table{
    margin: 2vh;
    
  }
  
  .table-detail>table>tbody{
    background-color: rgba(254, 220, 99, 0.589);
    
  }
  
  div.table-detail>table>thead>tr>td{
   font-weight: bold;
  }
  
  div.table-detail>table>thead>tr>td{
   font-weight: bold;
  }
  div.table-detail>table>tbody>tr>td>button{
    color: #FEDC63;
    stroke: cornsilk;
    background-color: #430064;
  }
  .sendingkitchen>button{
    width: 10vh;
    height: 3vh;
    border-radius: 15px;
    color: #FEDC63;
    stroke: cornsilk;
    background-color: #430064;
  }
  .sendingkitchen{
    text-align: right;
  }